body {
  text-align: center;
  margin: 0;
}

h1 {
  max-width: 80%;
  width: 37.5rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  margin: 5%;
}

h3 {
  margin: 0.25rem 0 0 11rem;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}

header {
  max-width: 100%;
  text-align: left;
  padding: 0.4rem 0;
  top: 0;
  width: 100%;
  background-color: white;
  position: fixed;
}

.middle-container {
  max-width: 100%;
  padding: 16% 0;
  background-image: url("bg-image1.jpg");
  background-position: center;
  background-size: cover;
}

.bottom-container {
  max-width: 100%;
  margin: 1.88rem auto;
}

.white_space {
  margin: 2.8rem auto;
}

.Button {
  margin-right: 12rem;
  float: right;
  background-color: #40424e;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.8rem;
  padding: 0.63rem 0.75rem;
  text-decoration: none;
}

.Button:hover {
  background-color: #5c5d62;
}
